.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  top: 0;
  border-bottom: 1px solid #212529;
  width: 100%;
  background: #212529;
}

.header h2 {
  color: chocolate;
}

.remove_img {
  position: relative;
}

.remove_img img {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.form {
  margin: 10px;
}

.textarea {
  font-size: 21px;
  border-radius: 10px;
  padding: 15;
  resize: none;
  min-width: 50%;
  outline: 0;
  min-height: 100px;
  background: #212529;
  color: #ffff;
  overflow-y: scroll;
  margin-left: 10px;
}

.textarea_avatar {
  display: flex;
}

.linha {
  border-top: 1px solid #393a3b;
  margin-bottom: 10px;
  margin-left: 20%;
}

.linha_one {
  border-top: 1px solid #393a3b;
  margin-bottom: 10px;
}

.camera {
  margin-top: 5px;
  margin-left: 20%;
}

.section {
  background: #292d31;
  flex: 1;
}

.section img {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.btn_inicio {
  display: flex;
  justify-content: space-between;
}

.remove_img button {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 999px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  border: 0;
  top: 15px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  border-top: #3b1c05;
}

.arrow {
  margin-top: 5px;
  margin-left: 10px;
}
