.section {
  display: grid;
  place-content: center;
  place-items: center;
  background: #212529;
  height: 100%;
  margin-top: 100px;
}

.section {
  flex: 1;
}

.section img {
  width: 120px;
}

.section h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0;
  color: #fff;
}

.section h2 {
  font-size: 15px;
  color: #fff;
  margin: 0;
}

.btn {
  margin-top: 15px;
}
